{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Event Managment</title>
        <link rel="stylesheet" href="{% static "css/general.css" %}">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
        <link rel="stylesheet" href="{% static "css/card.css" %}">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <ul>
                    <li><a href="/">Acceuil</a></li>
                    <li><a href="/">Ticket</a></li>
                    <li><a href="/">Payements</a></li>
                    <li><a href="/">Produits</a></li>
                    <li><a href="/">Consomations</a></li>
                </ul>
            </div>
            <div class="component profile">
                <form action="{% url 'home' %}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="item">
                            {{ field.non_field_errors }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div style="display: flow-root;">
                        <div style="float:right;">
                            <button type="reset">reset</button>
                            <button type="submit" submit>envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="component profiles">
                <div style="display: flow-root;">
                    <input type="text" placeholder="recherche..." style="float:right; height:2em">
                </div>
                <div class="recycler">
                {% for client in clients %}
                <div class="user-card">
                    <div class="img-user">
                        <img src="{{ client.avatar.url }}" alt="photo de profile" width="30px">
                    </div>
                    <div class="user-info">
                        tel: {{ client.user.mobile }}
                    </div>
                    <div class="user-info">
                        {{ client.user.first_name }}
                    </div>
                    <div class="user-info">
                        {{ client.user.last_name }}
                    </div>
                    <div class="user-info">
                        {{ client.user.tickets }}
                    </div>
                    <div class="user-info">
                        {{ client.user.date }}
                    </div>
                    <div class="user-info">
                        {{ client.user.tickets }}
                    </div>
                    <div class="user-hover">
                        <a href="#" class="commands-btn">Impr</a>
                        <a href="#" class="commands-btn">Mod</a>
                        <a href="#" class="commands-btn">Suppr</a>
                    </div>
                </div>
                <div class="user-card">
                    <div class="img-user">
                        <img src="{{ client.avatar.url }}" alt="photo de profile" width="30px">
                    </div>
                    <div class="user-info">
                        {{ client.user.first_name }}
                    </div>
                    <div class="user-info">
                        {{ client.user.last_name }}
                    </div>
                    <div class="user-info">
                        {{ client.user.tickets }}
                    </div>
                    <div class="user-info">
                        {{ client.ticket }}
                    </div>
                    <div class="user-hover">
                        <div class="user-info">{{ client.mobile|default:"00 000 000" }}</div>
                        <div class="user-info">{{ client.date }}</div>
                        <a href="#" class="commands-btn">Imprimer</a>
                        <a href="#" class="commands-btn">Modifier</a>
                        <a href="#" class="commands-btn">Supprimer</a>
                    </div>
                </div>
                <div class="user-card">
                    <div class="img-user">
                        <img src="{{ client.avatar.url }}" alt="photo de profile" width="30px">
                    </div>
                    <div class="user-info">
                        tel: {{ client.user.mobile }}
                    </div>
                    <div class="user-info">
                        {{ client.user.first_name }}
                    </div>
                    <div class="user-info">
                        {{ client.user.last_name }}
                    </div>
                    <div class="user-info">
                        {{ client.user.tickets }}
                    </div>
                    <div class="user-info">
                        {{ client.user.date }}
                    </div>
                    <div class="user-info">
                        {{ client.user.tickets }}
                    </div>
                    <div class="user-hover">
                        <a href="#" class="commands-btn">Impr</a>
                        <a href="#" class="commands-btn">Mod</a>
                        <a href="#" class="commands-btn">Suppr</a>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="title">Crazy Event</div>
            <div class="left">
                <div class="img-user">
                    <img src="" alt="">
                </div>
                <h3>Jonathan</h3>
                <h3>Nkurunziza</h3>
                <div class="bottom-infos">
                    <h3>75 96 06 96</h3>
                    <h5>61 06 96 06</h5>
                </div>
            </div>
            <div class="right">
                <h3>VIP</h3>
                <div>Quarter</div>
                <div>Date</div>
                <div>Place</div>
                <div>Autres</div>
                <div class="qr-img">
                    <img src="" alt="">
                </div>
            </div>
        </div>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>