{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Event Managment</title>
        <link rel="stylesheet" href="{% static "css/general.css" %}">
        <link rel="stylesheet" href="{% static "css/home.css" %}">
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <ul>
                    <li><a href="/">Acceuil</a></li>
                    <li><a href="/admin/API/ticket/">Ticket</a></li>
                    <li><a href="/admin/API/payment/">Payements</a></li>
                    <li><a href="/admin/API/product/">Produits</a></li>
                    <li><a href="/admin/API/consommation/">Consomations</a></li>
                </ul>
            </div>
            <div class="component profile">
                <form action="." method="POST" accept-charset="utf-8" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="item">
                            {{ field.non_field_errors }}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <div style="display: flow-root;">
                        <div style="float:right;">
                            <button type="reset">reset</button>
                            <button type="submit" submit>{% if delete %}
                                    supprimer
                                {% else %}
                                    envoyer
                                {% endif %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="component profiles">

                <div style="display: flow-root;">
                    <input type="submit" value="print all" style="float:left; height:2em" onclick="generateTickets('{% static 'css/card.css' %}')">
                    <input type="text" placeholder="recherche..." style="float:right; height:2em">
                </div>
                <div class="recycler">
                {% for client in clients %}
                <div class="user-card" qr-data="{{ client.qr }}">
                    <div class="img-user">
                        <img 
                        src='{% if client.avatar %}{{ client.avatar.url }}
                        {% else %}{% static "img/ic_user.png" %}{% endif %}'
                        alt="photo de profile" width="30px">
                    </div>
                    <div class="user-info firstname">
                        {{ client.user.first_name }}
                    </div>
                    <div class="user-info lastname">
                        {{ client.user.last_name }}
                    </div>
                    <div class="user-info tickettype">
                        {{ client.ticket }}
                    </div>
                    <div class="hidden-infos">
                        <div class="user-info quarter">{{ quarter|default:"Gihosha" }}</div>
                        <div class="user-info place">{{ place|default:"Gihosha" }}</div>
                        <div class="user-info ticket-date">{{ date }}</div>
                    </div>
                    <div class="user-hover">
                        <div class="user-info phone">{{ client.phone|default:"00 000 000" }}</div>
                        <div class="user-info email">{{ client.email|default:"no e-mail" }}</div>
                        <div class="user-info date">{{ client.date }}</div>
                        <a href="#" class="commands-btn btn-print" onclick="generateTicket(event,'{% static 'css/card.css' %}')">
                            Imprimer
                        </a>
                        <a href="{% url 'editprofile' client.id %}" class="commands-btn">Modifier</a>
                        <a href="{% url 'deleteprofile' client.id %}" class="commands-btn">Supprimer</a>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
            <div class="component">
                <span>active IP Adresses</span>
                {% for ip in ip_adresses %}
                    <strong>[{{ ip }}] </strong>
                {% endfor %}
            </div>
        </div>
        <script src="{% static 'js/qrjs2.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>