{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cool Restaurant</title>
    <link href="{% static "css/general.css" %}" rel="stylesheet" />
    <link href="{% static "css/style.css" %}" rel="stylesheet" />
</head>
<body>

<div>
	<form action="." method="post" class="login-form">
    	<h1>WELCOME BACK</h1>
		{% csrf_token %}
		{{ form.as_p }}
		{% for message in messages %}
			<div> {{ message }} </div>
		{% endfor %}
		<div>
    		<input type="submit" name="submit" value="submit" class="btn left">
    	</div>
	</form>
</div>
<script type="text/javascript">

</script>
</body>
</html>